{
  "log": {
    "_recordingName": "fetchUser",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4af80a67b8b7715f75fc69566d0c1fb9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.wpengineapi.com/v1/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 119,
            "text": "{\"id\":\"3937869a-09a0-4198-a1c7-d70c451c24fc\",\"email\":\"stefan@creativice.com\",\"first_name\":\"Stefan\",\"last_name\":\"Virag\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "d204b93a-2d7f-461f-bd8d-671e34cf15a3"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "BIF8THXhIAMFclw="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 773,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
