{
  "log": {
    "_recordingName": "fetchDomains",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7c0782aad0b9678323207b7733ae2209",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.wpengineapi.com/v1/installs?limit=10&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 398,
            "text": "{\"previous\":null,\"next\":null,\"count\":1,\"results\":[{\"id\":\"30c47931-a91d-468a-a5dc-b9711f06c60b\",\"name\":\"jupiterone\",\"cname\":\"jupiterone.wpengine.com\",\"stable_ips\":null,\"status\":\"active\",\"account\":{\"id\":\"77815c5d-e25c-41a3-ba2d-29f8ceb82ac1\"},\"php_version\":\"7.3\",\"site\":{\"id\":\"4d91f2dd-9743-421e-9bcf-20dcf0a195b2\"},\"environment\":\"production\",\"primary_domain\":\"jupiterone.com\",\"is_multisite\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "28cc83e4-08fd-4577-a54f-c764cc508a71"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "BsxCGEj7IAMF8xQ="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 880,
      },
      {
        "_id": "80fb0b7911edbf28dc48cf90a34041f6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.wpengineapi.com/v1//installs/30c47931-a91d-468a-a5dc-b9711f06c60b/domains?limit=10&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 804,
            "text": "{\"previous\":null,\"next\":null,\"count\":5,\"results\":[{\"name\":\"www.jupiterone.io\",\"duplicate\":false,\"id\":\"6eac0494-51d2-49be-8da1-ea6649bb50f8\",\"primary\":false,\"redirect_to\":{\"id\":\"c2663ce5-e1bf-42d3-8b78-89b032f1dd03\",\"name\":\"jupiterone.com\"}},{\"name\":\"jupiterone.io\",\"duplicate\":false,\"id\":\"b83dbe62-1698-4834-99ea-3bf38e12866b\",\"primary\":false,\"redirect_to\":{\"id\":\"c2663ce5-e1bf-42d3-8b78-89b032f1dd03\",\"name\":\"jupiterone.com\"}},{\"name\":\"www.jupiterone.com\",\"duplicate\":false,\"id\":\"0de8bdf6-2637-431c-9a2e-eb66a1f107e4\",\"primary\":false,\"redirect_to\":{}},{\"name\":\"jupiterone.com\",\"duplicate\":false,\"id\":\"c2663ce5-e1bf-42d3-8b78-89b032f1dd03\",\"primary\":true,\"redirect_to\":{}},{\"name\":\"jupiterone.wpengine.com\",\"duplicate\":false,\"id\":\"d1806903-21cd-4493-9dba-17968f347ffe\",\"primary\":false,\"redirect_to\":{}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "e9d0a482-d468-4eef-947c-2a8623e3eeb3"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "BsxCPGUtIAMFjcg="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 771,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
