{
  "log": {
    "_recordingName": "fetchAccounts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4af80a67b8b7715f75fc69566d0c1fb9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.wpengineapi.com/v1/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 119,
            "text": "{\"id\":\"3937869a-09a0-4198-a1c7-d70c451c24fc\",\"email\":\"stefan@creativice.com\",\"first_name\":\"Stefan\",\"last_name\":\"Virag\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "f49f858c-b7b4-47a6-952c-7124beabdc1e"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "BIFH-F8WoAMF7Yw="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1007,
      },
      {
        "_id": "b5a41916ddb8fd6f9a367486771ee186",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.wpengineapi.com/v1/accounts?limit=10&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 112,
            "text": "{\"previous\":null,\"next\":null,\"count\":1,\"results\":[{\"id\":\"77815c5d-e25c-41a3-ba2d-29f8ceb82ac1\",\"name\":\"j1inc\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "95cc221c-5969-4abe-bfb0-84a08585850c"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "BIFIGHVQoAMFUEA="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 752,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
