{
  "log": {
    "_recordingName": "fetchSites",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b5a41916ddb8fd6f9a367486771ee186",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.wpengineapi.com/v1/accounts?limit=10&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 112,
            "text": "{\"previous\":null,\"next\":null,\"count\":1,\"results\":[{\"id\":\"77815c5d-e25c-41a3-ba2d-29f8ceb82ac1\",\"name\":\"j1inc\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "6d3e0dcc-35e4-4acb-b217-d08c141210c9"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "B_o7UFZpIAMF5SQ="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1274,
      },
      {
        "_id": "97123c15bf93205301118bdc565d93ea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.wpengineapi.com/v1/sites?limit=10&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 354,
            "text": "{\"previous\":null,\"next\":null,\"count\":1,\"results\":[{\"id\":\"4d91f2dd-9743-421e-9bcf-20dcf0a195b2\",\"name\":\"jupiterone\",\"account\":{\"id\":\"77815c5d-e25c-41a3-ba2d-29f8ceb82ac1\"},\"installs\":[{\"id\":\"30c47931-a91d-468a-a5dc-b9711f06c60b\",\"name\":\"jupiterone\",\"environment\":\"production\",\"cname\":\"jupiterone.wpengine.com\",\"php_version\":\"7.3\",\"is_multisite\":false}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "0114d2f0-2a75-4d52-a2b2-61200387f337"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "B_o7bHE0IAMFX-Q="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 650,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
