{
  "log": {
    "_recordingName": "fetchInstalls",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b5a41916ddb8fd6f9a367486771ee186",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.wpengineapi.com/v1/accounts?limit=10&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 112,
            "text": "{\"previous\":null,\"next\":null,\"count\":1,\"results\":[{\"id\":\"77815c5d-e25c-41a3-ba2d-29f8ceb82ac1\",\"name\":\"j1inc\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "bc13b1a9-5378-4ea3-a378-01e4af405722"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "B_nOUGzvoAMFQeg="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1143,
      },
      {
        "_id": "97123c15bf93205301118bdc565d93ea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.wpengineapi.com/v1/sites?limit=10&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 354,
            "text": "{\"previous\":null,\"next\":null,\"count\":1,\"results\":[{\"id\":\"4d91f2dd-9743-421e-9bcf-20dcf0a195b2\",\"name\":\"jupiterone\",\"account\":{\"id\":\"77815c5d-e25c-41a3-ba2d-29f8ceb82ac1\"},\"installs\":[{\"id\":\"30c47931-a91d-468a-a5dc-b9711f06c60b\",\"name\":\"jupiterone\",\"environment\":\"production\",\"cname\":\"jupiterone.wpengine.com\",\"php_version\":\"7.3\",\"is_multisite\":false}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "62b3ec6b-8738-4232-b6d9-b492cc782d80"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "B_nObG1kIAMF1ew="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 705,
      },
      {
        "_id": "7c0782aad0b9678323207b7733ae2209",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://api.wpengineapi.com/v1/installs?limit=10&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 398,
            "text": "{\"previous\":null,\"next\":null,\"count\":1,\"results\":[{\"id\":\"30c47931-a91d-468a-a5dc-b9711f06c60b\",\"name\":\"jupiterone\",\"cname\":\"jupiterone.wpengine.com\",\"stable_ips\":null,\"status\":\"active\",\"account\":{\"id\":\"77815c5d-e25c-41a3-ba2d-29f8ceb82ac1\"},\"php_version\":\"7.3\",\"site\":{\"id\":\"4d91f2dd-9743-421e-9bcf-20dcf0a195b2\"},\"environment\":\"production\",\"primary_domain\":\"jupiterone.com\",\"is_multisite\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "645e8ad6-f788-4ea3-b9b6-f4dd3ea59bed"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "B_nOiEIyIAMF_Xg="
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 650,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
